.search input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.rectangle-search {
    border-radius: 5px;
    background-color: #ed1c24;
}

.search select {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.header p {
    font-size: 12px;
}

.no-padding {
    padding: 0 !important;
}

.border {
    background-color: #f8f8f8;
}

/* .babcasa-background {
    background-image: url('/img/babcasa-half-texture.png')
} */